* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  max-width: 768px;
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-bottom: 5px solid #2d3945;
}

.logo-title {
  height: 70px;
  background-color: #2d3945;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  font-size: 1.5em;
}

.header-title {
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
}

.header-title h2 {
  font-weight: bold;
  color: #2d3945;
}

.header-title h3 {
  font-weight: lighter;
  color: #bec2c5;
}

.contact_information {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  border-top: 3px solid #2d3945;
  padding-top: 20px;
  justify-content: center;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

legend {
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  color: #2d3945;
  padding: 20px 0;
  margin: 0 auto;
  width: 90%;
}

.in_field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.in_field:not(label) {
  flex-direction: column;
  width: 90%;
}

.in_field label {
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  color: #7a7d7d;
}

.in_field input {
  border-radius: 2px;
  border: 0px solid;
  background-color: #e9eff1;
  padding: 10px 20px;
  margin: 8px 0;

}

.in_field input[placeholder] {
  text-align: right;
  font-style: italic;
}

.in_field input[placeholder]:focus {
  text-align: left;
  
}

.in_field select {
  border: 0px solid;
  background-color: #e9eff1;
  padding: 10px 20px;
  margin: 8px 0;
}
